@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

body{
    background: hsla(225, 100%, 51%, 1);
    background: linear-gradient(135deg, hsla(225, 100%, 51%, 1) 2%, hsla(164, 100%, 65%, 1) 80%);
    background: -moz-linear-gradient(135deg, hsla(225, 100%, 51%, 1) 2%, hsla(164, 100%, 65%, 1) 80%);
    background: -webkit-linear-gradient(135deg, hsla(225, 100%, 51%, 1) 2%, hsla(164, 100%, 65%, 1) 80%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0544FF", endColorstr="#4EFFD0", GradientType=1 );
}